body {
  background-color: rgb(225, 206, 241);
  text-align: center;
  margin: auto;
}

header {
  padding: 32px;
  color: rgb(148, 33, 148)
}

img {
  height: 8rem;
}

.container {
  display: inline-block;
  margin-top: 32px auto;
  border: 1px solid transparent;
  width: 700px;
  background-color: rgb(148, 33, 148);
  border-radius: 1%;
  text-align: left;
  color: white;
  padding: 20px 25px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 15px 0;
  padding-left: 10px;
}

.brdr-left {
  margin-left: -2px;
  border-left: 3px solid rgb(255, 237, 177);
  color:rgb(255, 237, 177);
}

a {
  text-decoration: none;
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
  padding: 2px 6px;
  border-radius: 4px;
}

footer {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 20px;
}

footer p {
  color: rgb(131, 113, 149);
  margin-top: 30px;
}

footer a {
  margin-left: 85px;
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgb(250, 201, 39);
  color: rgb(66, 51, 4);
}

footer a:hover,
footer a:active {
  background-color: rgb(255, 186, 58);
}